!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
      %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
      %link{:charset => "utf-8", :href => "/css/styles.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
      %link{:charset => "utf-8", :href => "/css/jplayer.blue.monday.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
        %title
          bloX
  %body#page_index
    #header.clearfix
      #nav
        #jquery_jplayer_1 
        .jp-audio
          .jp-type-single
            #jp_interface_1.jp-interface
              #message1
                1. Click a pattern below to play. 2. Download the wav and the beat. 
              %ul.jp-controls
                %li
                  %a.logo{:href => "http://jeremywentworth.com", :style => "display: block; ", :tabindex => "1"} logo
                %li
                  %a.jp-play{:href => "#", :style => "display: block; ", :tabindex => "1"} play
                %li
                  %a.jp-pause{:href => "#", :style => "display: none; ", :tabindex => "1"} pause
                %li
                  %a.jp-stop{:href => "#", :tabindex => "1"} stop
                %li
                  %a.jp-mute{:href => "#", :tabindex => "1"} mute
                %li
                  %a.jp-unmute{:href => "#", :style => "display: none; ", :tabindex => "1"} unmute
                %li
                  %a.download-wav{:href => "#", :style => "display: block; ", :tabindex => "1"} download
                %li
                  %a.download-beat{:href => "#", :style => "display: block; ", :tabindex => "1"} download
              .jp-progress
                .jp-seek-bar{:style => "width: 100%; "}
                  .jp-play-bar{:style => "width: 5.009808113019543%; "}
              .jp-volume-bar
                .jp-volume-bar-value{:style => "width: 80%; "}
              .jp-current-time 00:00
              .jp-duration 00:00
              #message2                
                Beats ruby gem created by 
                %a{:href => "http://www.joelstrait.com"} joelstrait.com
                | 
                %a{:href => "http://beatsdrummachine.com"} beatsdrummachine.com 
            #jp_playlist_1.jp-playlist
        #clipboard_empty
        #clipboard_buffer_container{:style => "display: none;"}
          #clipboard_buffer
          %a#clear_buffer{:href => "#", :name => "clear_buffer"}
        #formats
          %span.bullet
          %a#text_html_toggler{"alternate-value" => "As text", :href => "#", :name => "text_html_toggler"}
    #contents.clearfix
      - for @block in @blocks
        %span{"data-entity" => ""}= (@block).join(" ")
    #dotcom
      %a{:href => "http://jpw.heroku.com/emo"} emo 
      | 
      %a{:href => "http://github.com/jeremywen"} github
      | 
      %a{:href => "http://twitter.com/jeremywen"} twitter
      | 
      %a{:href => "http://facebook.com/jeremy.wentworth"} facebook
      | 
      %a{:href => "http://jeremywentworth.com"} jeremywentworth.com
    %script{:charset => "utf-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/jquery.jplayer.min.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/all.js", :type => "text/javascript"}